a:visited{color: white}

body{
  margin: 0;
  background-color: #0C1E3E;
  height: 500px;
  color: white;
}

header{
  background-color: #334971;
  height: 200px;
  width: 100%;
}
.header_img{
  height: 200px;
  width: 150px;
  margin: 0px 20px;
  position: relative;
  float: left;
}
.header_img img{
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.header_logo{
  color: white;
  font-size: 40px;
  float: left;
  line-height: 200px;
  margin: 0px 20px
}

.main_first_container{
  height: 200px
}
.about_me{
  float: left;
  width: 50%;
  margin: 0px 20px;
}
.projects{
  float: left;
  width: 50%;
  margin: 0px 20px;
}
.main_second_container{
  height: 200px
}
.contact{
  float: left;
  width: 50%;
  margin: 0px 20px;

}


footer{

}
