body{

  }
.header a:link { color: white; }
.header a:visited { color: white; }
.header a:hover { color: white; }
.header a:active { color: white; }
.header{
  background-color: #2971FF;
  height: 90px;
}
.header_logo{
  color: white;
  font-size: 40px;
  padding: 20px;
  float: left;
}
.header_list{
  float: left;
}
.header li{
   list-style: none;
   float: left;
   padding: 20px;
}

.main{
  background-color: #0C1E3E;
  height: 500px;
}

.footer a:link { color: #2ED6A1; }
.footer a:visited { color: #2ED6A1; }
.footer a:hover { color: #2ED6A1; }
.footer a:active { color: #2ED6A1; }
.footer{
  background-color: #1D3258;
  height: 90px;
}
.footer_logo{
  color: #2ED6A1;
  float: left;
  padding: 20px;
}
.footer_content{
  color: #2ED6A1;
  float: left;
  padding: 5px;
}
.footer_list{
  float: right;
}
.footer li{
  list-style: none;
  color: #2ED6A1;
  padding: 5px;
}
